.items__container {
  margin-top: 10%;
  z-index: -10000;
}

.item__container {
  /* border: 1px #4f4b4b3c solid;
  border-radius: 30px; */
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
}

.item__image {
  border-radius: 30px;
  width: 400px;
  height: 270px;
  background-position: center;
  background-size: cover;
}
