.main-page {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.main-page__background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to left bottom,
    var(--background) 60%,
    var(--pink) 80%
  );
  background-size: cover;
  position: fixed;
  z-index: -100;
}

.main-page__image {
  /* margin: 3rem; */
  border: 3px solid white;
  border-radius: 10px;
  width: 25%;
  animation: show-image 300ms ease forwards;
  opacity: 0;
}

.main-page__image img {
  position: relative;
  animation: movePic 700ms ease 500ms forwards;
  border-radius: 10px;
}

.main-page__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: aliceblue;
  animation: moveText 700ms ease 500ms forwards;
  opacity: 0;
  margin: 30px 0;
}

.main-page__text h1 {
  font-family: "Caveat", cursive;
  letter-spacing: 3px;
  color: #c899a9;
  font-weight: 700;
  font-size: 3.7rem;
  margin: 0;
}

.main-page__text h1 a {
  cursor: pointer;
}

.main-page__text h1 a:hover,
.main-page__text h1 a:active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(255, 238, 220)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  text-decoration: none;
  color: #c899a9;
}

.main-page__text p {
  font-size: 1.4rem;
}

.main-page__down-arrow {
  width: 60px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  padding: 5px;
  transition: all 500ms ease;
  animation: move-arrow 5s ease 8s 4;
}

.main-page__down-arrow:hover,
.main-page__down-arrow :active {
  width: 100px;
  height: 100px;
}

@keyframes move-arrow {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movePic {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: -30px;
    top: -30px;
  }
}

@keyframes show-image {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveText {
  0% {
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .main-page {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .main-page__image {
    /* margin-top: 6.5rem; */
    width: 70%;
    /* margin-top: 100px; */
  }

  .main-page__text {
    width: 70%;
  }

  .main-page__text h1 {
    font-size: 2.5rem;
  }
}
