.skill-item {
  font-size: 2rem;
  color: var(--background);
  font-family: var(--big-title);
  letter-spacing: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
}

.skill-item:hover {
  font-size: 2.2rem;
}

.skill-item__other {
  font-size: 1.4rem;
  width: 100%;
}

.skill-item__other:hover {
  color: var(--pink);
  font-weight: 700;
}

.skill-item__line {
  opacity: 0.5;
  transition: all 300ms ease;
  width: 12%;
}

.skill-item:hover .skill-item__line {
  opacity: 1;
}

@media (max-width: 900px) and (min-width: 600px) {
  .skill-item__line {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .skill-item__line {
    width: 40%;
  }
}
