@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@500;700&display=swap");
:root {
  --deep-purple: #897da5;
  --pink: #caabb8;
  --light-purple: #a999b3;
  --dark: #242a53;
  --light-dark: #575171;
  --background: #3f3f3f;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Architects Daughter", cursive;
}

body {
  margin: 0;
  background: var(--background);
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: 1px rgb(152, 151, 151) solid;
  border-radius: 100px;
}

::selection {
  background: var(--deep-purple); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--deep-purple); /* Gecko Browsers */
}
